<h2>Real estate agent finder</h2>
<p>Enter 2 valid addresses to find the closest real estate agents between the addresses.</p>
<form [formGroup]="searchFormGroup" (ngSubmit)="onSearch(searchFormGroup)">
  <md-input-container>
    <input mdInput formControlName="addressOne" type="text" placeholder="Address 1">
  </md-input-container>
  <md-input-container>
    <input mdInput formControlName="addressTwo" type="text" placeholder="Address 2">
  </md-input-container>
  <button md-button type="submit">Search</button>
</form>
<div>
  {{((progress$ | async) < 100) ? 'Searching for realators' : ''}}
</div>
<div class="results" *ngIf="(searchResults$ | async)?.length > 0">
  <div class="results-item" *ngFor="let result of (searchResults$ | async)">
    <p md-line>{{result.name}}</p>
    <p md-line>{{result.address}} </p>
  </div>
</div>
